@import "../../animations.scss";

.footer {
    animation: Gradient 5s ease infinite alternate;
    color: black;
    font-weight: bold;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: underline;
}

.twitch {
    display: inline-block;
    filter: grayscale(1) saturate(0);
    position: relative;
    top: 0.25em;
    margin-left: 0.5rem;
}